 
/* AUTHOR @ AMY PERCIVAL*/

/*
COLOR PALETTE
https://coolors.co/FFFFFF-000004-011936-EDE0D4-766C7F
#FFFFFF -  white
#000004 - Black
#011936 - Oxford Blue
#EDE0D4 - Almond
#766C7F - Old Lavander
*/

body{
  margin: 0 0 0 0;
}

#page-container {
  position: relative;
}
/*  min-height: 10vh;


/***** main header text *******/
.header {
	text-align: center;
	color: black;
  padding-top: 3%;
  border-bottom: 1px solid black;
  font-size:180%;
  padding-bottom: .7%;
}

/******** main header backgroud *******/
#fullHeader{
  background-color: #EDE0D4;
  padding:1px;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* main header title*/
#h2 {
  text-align: center;
  color: black;
  font-size:100%;
  padding-top:10px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  background-color: #9C91A1;
  margin-top:2%;
  width: 30%;
  margin-left: 35.5%
}

/* Woollen Mill & Co. logo*/
#logo{
  width:11%;
  margin-left: 4%;
  margin-top:auto;
  position: absolute;
  z-index: 9999;
}

#logo:hover{
opacity:60%;
}

/*login icon*/
#userIcon{
  width:1.52%;
  z-index: 9999;
  position: absolute;
}

#userIcon:hover {
opacity:50%;
}

/****** navigation menu *******/

#nav{
width: 80%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-left: 13%;
padding-bottom: 0;
z-index: 9999;
}

#nav li {
float: left; /*floats list items left*/
clear:right;
padding-left:9.3%;
font-size:75%;
padding-top: 1.05%;
}

#nav li a {
/*display: block;*/ /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
font-weight: bold;
color: black;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav li a:hover {
color: #736779;
text-decoration: underline;
}

#nav1{
width: 80%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-left: 13%;
padding-bottom: 0;
z-index: 9999;
}

#nav1 li {
float: left; /*floats list items left*/
clear:right;
padding-left:9.3%;
font-size:75%;
padding-top: 1.05%;
}

#nav1 li a {
/*display: block;*/ /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
font-weight: bold;
color: black;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav1 li a:hover {
color: #736779;
text-decoration: underline;
}

#nav2{
width: 80%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-left: 13%;
padding-bottom: 0;
z-index: 9999;
}

#nav2 li {
float: left; /*floats list items left*/
clear:right;
padding-left:9.3%;
font-size:75%;
padding-top: 1.05%;
}

#nav2 li a {
/*display: block;*/ /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
font-weight: bold;
color: black;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav2 li a:hover {
color: #736779;
text-decoration: underline;
}


 /*DROPDOWN NAV*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 80%;
  display: block;
  transition: all 0.5s ease;
  list-style: none;
}

.dropdown-content a:hover {
  background-color: #EDE0D4;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top:1.8%;
  margin-left:29.5%;
}

/******** contact form stylings ******/

.contactForm{
  margin-top:1%;
  margin-left:33%;
  margin-right:30%;
  margin-bottom:1%;
	font-family: "Courier New", Courier, monospace;
  display:inline-block;
  background: rgba(1,1,1,0);/* allows change in opacity without affecting text opacity*/
  padding: 0 0 0 0;
}

/* headers in contact form */
#formP1, #formP2, #formP3 {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:80%;
  font-weight: bold;
  color:black;
  margin-left: 1%;
}

/* form stylings for input of type text boxes*/
input[type=text], select, textarea{
  	width: 250%;
  	padding: 10px;
  	display: inline-block;
  	border-radius: 0px;
  	box-sizing: border-box;
  	border: 1px solid black;
  	transition: 0.5s;
  	outline: none; /*removes deault 'blue' outline when field is selected*/
    background-color:rgba(0, 0, 0, 0);/* allows change in opacity without affected text */
    color:black;
    font-family: "Courier New", Courier, monospace;
    resize: vertical;
}

/*email input box style*/
input[type=email]{
    width: 250%;
    padding: 10px;
    display: inline-block;
    border-radius: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    transition: 0.5s;
    outline: none; /*removes deault 'blue' outline when field is selected*/
    background-color:rgba(0, 0, 0, 0);/* allows change in opacity without affected text */
    color:black;
    font-family: "Courier New", Courier, monospace;
    resize: vertical;
}

input[type=email]:focus {
    border: 1px solid #c1bac4; /*gives colour transition when user selects field*/
}

input[type=text]:focus {
    border: 1px solid #c1bac4; /*gives colour transition when user selects field*/
}

textarea:focus {
    border: 1px solid #c1bac4; /*gives colour transition when user selects field*/
}

/* submit box styling */
input[type=submit] {
  	width: 100%;
  	background-color: #EDE0D4;
  	padding: 4%;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	outline: none;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left:74%;
}

/* changes colour of submit box on hover*/
input[type=submit]:hover {
  	background-color: #736779;
}


 /********** for "collection" page *********/

#hat{
  width: 28%;
  padding:2.5%;
  padding-left: 4%;
  margin-top: 4%;
  float:left;
  margin-bottom:7%;
}

#hat:hover {
  opacity: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#scarf{
  width: 24.8%;
  padding:2.5%;
  margin-top: 4%;
  float:left;
}

#scarf:hover {
  opacity: 80%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#gloves{
  width: 29.4%;
  padding:2.5%;
  margin-top: 4%;
  float:left;
}

#gloves:hover {
  opacity: 80%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/******* for search page *******/

#productList {
width: 70%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-bottom: 0;
z-index: 9999;
padding-left:19.5%;
}

#productList li {
float: left; /*floats list items left*/
clear:right;
padding-top: 5%;
padding-left:10%;
padding-left:10%;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-style: italic;
font-variant: small-caps;
text-align: center;
}

#redGloves, #greyGloves, #purpleGloves, #greenGloves, #multiGloves, #creamHat, 
#greyHat, #pinkHat, #orangeHat, #greenHat, #greenScarf, #pinkScarf, #peachScarf, #creamScarf, #greyScarf{
  width:160px;
}

#productList li a {
display: block; /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
text-align: center;
color:black;
}

#productList li a:hover{
opacity:70%;
}

#searchBar{
padding-left: 24%;
margin-top:3.5%;
}

#searchHeader{
background-color: #9C91A1;
font-style: italic;
text-align:center;
font-size:110%;
margin-left:39%;
margin-right:39%;
margin-top: 3%;
}


/************ footer nav ***********/

#footer{
  bottom: 0;
  width: 100%;
  position: absolute;
}

 #footerNav {
  float:left;
  width:100%; /*makes the menu width the same as the window width*/ 
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #011936ff;
  margin-bottom: 0;
  margin-top:1%;
}

 #footerNav li {
  float: left; /*floats list items left*/
  clear:right;
  padding-left: 8%;
  font-size:80%;
    list-style: none; /*removes bullets from the list*/
}
  #footerNav li a {
  text-decoration: none; /*removes the underline from the anchor*/ 
  font-weight: bold;
  color: white;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* change colour on hover of nav menu options*/
  #footerNav li a:hover {
  color: #EDE0D4;
  text-decoration: underline;
}

 /*copy right text*/
  #copy{
  text-align: center;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top:3%;
  margin-bottom:0;
  font-size:80%;
  font-weight: bold;
  color:white;
}
 /*walking sheep gif in footer*/
 #sheep{
    margin-left: 45%;
    width: 7%;
}

/* Media queries for responsiviness */
@media screen and (max-width: 1060px){
  #primary {width: 67%;}
  #secondary {width: 30%; margin-left: 3%;}
}

@media(min-device-width:800px){
  img[data-src-800p]{
    content: attr(data-src-800px, url);
  }
}

@media screen and (max-width: 768px){
  #primary {width: 100%;}
  #secondary {width: 100%; margin: 0%; border: none;}
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media(min-device-width:600px){
  img[data-src-600p]{
    content: attr(data-src-600px, url);
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

