 
/* AUTHOR @ AMY PERCIVAL */

/*
COLOR PALETTE
https://coolors.co/FFFFFF-000004-011936-EDE0D4-766C7F
#FFFFFF -  white
#000004 - Black
#011936 - Oxford Blue
#EDE0D4 - Almond
#766C7F - Old Lavander
*/

body{
  margin: 0 0 0 0;
}

/******  main header ******/
.header {
  text-align: center;
  color: black;
  padding-top: 3%;
  border-bottom: 1px solid black;
  font-size:180%;
  padding-bottom: .5%;
}
 
#fullHeader{
  background-color: #EDE0D4;
  padding:1px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/*main header text*/
#h2 {
  text-align: center;
  color: black;
  font-size:100%;
  padding-top:10px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  background-color: #9C91A1;
  margin-top:2%;
  width: 30%;
  margin-left: 35.5%
}

/* Woollen Mill & Co. logo*/
#logo{
  width:11%;
  margin-left: 4%;
  margin-top:auto;
  position: absolute;
  z-index: 9999;
}

#logo:hover{
opacity:60%;
}

/*login icon*/
#userIcon{
  width:1.5%;
  z-index: 9999;
  position: absolute;
    padding-top:2px;
}

#userIcon:hover {
opacity:50%;
}

/****** navigation menu *******/

#nav, #nav1, #nav2 {
width: 80%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-left: 13%;
padding-bottom: 0;
z-index: 9999;
}

#nav li {
float: left; /*floats list items left*/
clear:right;
padding-left:9.3%;
font-size:80%;
padding-top: 1%;
}

#nav li a {
/*display: block;*/ /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
font-weight: bold;
color: black;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav li a:hover {
color: #736779;
text-decoration: underline;
}
#nav1{
width: 80%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-left: 13%;
padding-bottom: 0;
z-index: 9999;
}

#nav1 li {
float: left; /*floats list items left*/
clear:right;
padding-left:9.3%;
font-size:80%;
padding-top: 1%;
}

#nav1 li a {
/*display: block;*/ /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
font-weight: bold;
color: black;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav1 li a:hover {
color: #736779;
text-decoration: underline;
}

#nav2{
width: 80%; /*makes the menu width the same as the window width*/ 
list-style: none; /*removes bullets from the list*/
padding-left: 13%;
padding-bottom: 0;
z-index: 9999;
}

#nav2 li {
float: left; /*floats list items left*/
clear:right;
padding-left:9.3%;
font-size:80%;
padding-top: 1%;
}

#nav2 li a {
/*display: block;*/ /*fills up the entire list item and makes the whole area clickable*/
text-decoration: none; /*removes the underline from the anchor*/ 
font-weight: bold;
color: black;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#nav2 li a:hover {
color: #736779;
text-decoration: underline;
}

 /******* DROPDOWN NAV ******/
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 80%;
  display: block;
  transition: all 0.5s ease;
}

.dropdown-content a:hover {
  background-color: #EDE0D4;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top:1.8%;
  margin-left:29.5%;
}


/****** FOOTER *******/

 #footerNav {
  float:left;
  width:100%; /*makes the menu width the same as the window width*/ 
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #011936ff;
  margin-bottom: 0;
  margin-top:1%;
}

 #footerNav li {
  float: left; /*floats list items left*/
  clear:right;
  padding-left: 8%;
  font-size:80%;
   list-style: none; /*removes bullets from the list*/
}

  #footerNav li a {
  text-decoration: none; /*removes the underline from the anchor*/ 
  font-weight: bold;
  color: white;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

  #footerNav li a:hover {
  color: #EDE0D4;
  text-decoration: underline;
}

/*copy right text*/
  #copy{
  text-align: center;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top:3%;
  margin-bottom:0;
  font-size:80%;
  font-weight: bold;
  color:white;
}

/*walking sheep gif*/
 #sheep{
    margin-left: 45%;
    width: 7%;
  }

  /* Media queries for responsiviness */
  @media screen and (max-width: 1060px){
    #primary {width: 67%;}
    #secondary {width: 30%; margin-left: 3%;}
  }
  
  @media(min-device-width:800px){
    img[data-src-800p]{
      content: attr(data-src-800px, url);
    }
  }
  
  @media screen and (max-width: 768px){
    #primary {width: 100%;}
    #secondary {width: 100%; margin: 0%; border: none;}
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media(min-device-width:600px){
    img[data-src-600p]{
      content: attr(data-src-600px, url);
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  /* @media (min-width:640px){body {font-size: 1rem;}}
  @media (min-width:960px){body {font-size: 1.2rem;}}
  @media (min-width:1100px){body {font-size: 1.5rem;}} */