/* AUTHOR @ Juliana Virgilio*/
/*
COLOR PALETTE
https://coolors.co/FFFFFF-000004-011936-EDE0D4-766C7F
#FFFFFF -  white
#000004 - Black
#011936 - Oxford Blue
#EDE0D4 - Almond
#766C7F - Old Lavander
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}

body {
  color: #000004;
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 900px;
  /* width: 95%; */
  margin: 0 auto;
  padding: 60px 0;
}
.divider > section {
  border-bottom: 1px dashed #000004;
  padding: 25px 0;
  list-style: none; /*removes bullets from the list*/
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Product
------------------------------------*/
.products {
  background: #FFFFFF;
  padding-bottom: 15%;
  padding-top: 10%;
}
.products a {
  color: #011936;
  display: block; /*fills up the entire list item and makes the whole area clickable*/
  text-decoration: none; /*removes the underline from the anchor*/ 
  font-weight: bold;
  color: black; 
}

.product-item {
  overflow: hidden;
}
.product-item h3 {
  margin-top: 0;
}

.product-img {
  float:left;
  display:inline; 
  width: auto;
  list-style: none;

}
.product-desc {
  float:left;
  display:inline; 
  width: 51%;
  list-style: none;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size:large;
  font-size: 22px;

}

.tumble-img {
  float:left;
  display:inline; 
  width: 15%;
  list-style: none;
  size: 100px;

}
.tumble-img a {
  display: block; /*fills up the entire list item and makes the whole area clickable*/
  text-decoration: none; /*removes the underline from the anchor*/ 
  font-weight: bold;
  color: black;
}
/* Home
------------------------------------*/
.home {
  background: #FFFFFF;
  margin-left: 15%;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: x-large;
}

.home-img-left {
  float:left;
  display:inline; 
  width: auto;
  list-style: none;

}
.home-desc-left {
  float:left;
  display:inline; 
  width: 50%;
  list-style: none;
  font-size:70%; /*smaller looks more spohpisticaed(?)*/
  text-align: justify; /*justified text to it takes up and equal amount of the page */
}
.home-desc-right {
  float: left;
  display:inline; 
  width: auto;
  list-style: none;

}
.home-img-right {
  float: left;;
  display:inline; 
  width: 50%;
  list-style: none;
}

/******** OUR STORY ********/

/*headers*/
#h, #h3, #h4, #h5{
  background-color: #9C91A1;
  font-style: italic;
  text-align:left;
  font-size:120%;
  }

/******** HOME PAGE *******/
#h6, #h7{
  background-color: #9C91A1;
  font-style: italic;
  text-align:left;
  font-size:100%;
  }

  #h8{
  background-color: #9C91A1;
  font-style: italic;
  text-align:left;
  font-size:100%;
  margin-left:40%;
  }


/****** product details headers*******/

#h9, #h10, #h11{
  background-color: #9C91A1;
  font-style: italic;
  font-size:150%;
  margin-left:10%;

}
/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: transparent;
  font-size: 2px;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
